/* Quicksand and Raleway Font Import */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset Styles */
html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/* Global Color */
:root{
    --color-white: #ffffff;
    --color-sky-blue:#01ACFD;
    --color-orange:#FEA301;
    --color-black:#000000;
    --color-202020:#202020;
    --color-808080:#808080;
    --color-F7F7F7: #f7f7f7;
    --color-dark-black:#111111;
}

/* Base Styles */
body{
    font-family: "Quicksand", serif;
    color: var(--color-black);
    font-size: 1.6rem;
    font-weight: 400;
}

/* Global Styles */
.boxed-container{
    max-width:1160px;
    margin: 0 auto;
}
.p-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row-reversed{
    flex-direction: row-reverse;
}
.flex-col-reversed{
    flex-direction: column-reverse;
}
.flex-center-x{
    justify-content: center;
}
.flex-center-y{
    align-items: center;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-grow{
    flex: 1;
}
.flex-gap-1{
    gap: 1rem;
}
.flex-gap-2{
    gap: 2rem;
}
.flex-gap-3{
    gap: 3rem;
}
.flex-gap-5{
    gap: 5rem;
}
.text-center{
    text-align: center;
}
.flex-between{
    justify-content: space-between;
}

/* Utility classes */
.btn-primary{
    display: inline-block;
    color: var(--color-white);
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    font-weight: 600;
    padding: 1.2rem 4.5rem;
    background-color: var(--color-dark-black);
    border: 1px solid var(--color-dark-black);
    border-radius: 1rem;
}

/* Navbar Styles */
.hamburger-container{
    display: none;
}
nav{
    padding: 2rem 0;
}
.logo{
    width: 55px;
}
.logo-container .logo-text{
    color: var(--color-dark-black);
    font-size: clamp(2.4rem, 2.5vw, 3.2rem);
}
.menu-container .menu-item{
    list-style: none;
}
.menu-container .menu-item::after{
    content:"";
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    transition: all .3s ease-in-out;
}
.menu-container .menu-item:hover::after{
    width: 100%;
}
.menu-container .menu-item:first-child::after{
    background-color: var(--color-orange);
}
.menu-container .menu-item:nth-child(2)::after{
    background-color: var(--color-sky-blue);
}
.menu-container .menu-item:nth-child(3):after{
    background-color: #05D4DF;
}
.menu-container .menu-item:last-child:after{
    background-color: #5D58EF;
}
.menu-item a{
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    font-weight: 600;
}
.menu-item:first-child a{
    color: var(--color-orange);
}
.menu-item:nth-child(2) a{
    color: var(--color-sky-blue);
}
.menu-item:nth-child(3) a{
    color: #05D4DF;
}
.menu-item:last-child a{
    color: #5D58EF;
}
.nav-btn{
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

/* Hero Section Styles */
.hero-title{
    color: var(--color-dark-black);
    font-size: clamp(3.4rem, 3.8vw, 5.6rem);
    margin-bottom: 24px;
}
.hero-text{
    color: var(--color-dark-black);
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    line-height: 1.5;
    margin-bottom: 24px;
}
.hero-img{
    width: 100%;
}

/* Standard Curriculum Styles */
#std-curriculum-section{
    padding: 60px 0;
    background-image: url(images/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.std-curiclum-title{
    color: var(--color-black);
    font-size: clamp(2.8rem, 3vw, 4.6rem);
    margin-bottom: 8rem;
}
.curriculum-box-container{
    margin-bottom: 8rem;
}
.curriculum-box-container .box{
    padding: 5rem 4rem;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 0 25px #00000014;
}
.curriculum-box-container .box .box-img{
    height: 140px;
    object-fit: contain;
}
.curriculum-box-container .box .box-title{
    margin: 3rem 0;
    font-size: clamp(1.8rem, 2vw, 2.4rem);
}
.curriculum-box-container .box .box-text{
    font-family: "Raleway", serif;
    color: var(--color-808080);
    font-size: clamp(1.4rem, 1vw, 1.6rem);
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 3rem;
}
.box-1{
    background-image: linear-gradient(#DEF5FF 0%, #ffffff 50%);
    border: 1px solid #DEF5FF;
}
.box-2{
    background-image: linear-gradient(#FFF4DC 0%, #ffffff 50%);
    border: 1px solid #FFF4DC;
}
.box-3{
    background-image: linear-gradient(#F2E8FF 0%, #ffffff 50%);
    border: 1px solid #F2E8FF;
}
.read-more-btn{
    font-size: clamp(1.4rem, 1vw, 1.6rem);
    font-weight: 700;
}
.box-1 .read-more-btn{
    color: #64C8FF;
}
.box-2 .read-more-btn{
    color: #F0AA00;
}
.box-3 .read-more-btn{
    color: #8700FF;
}
.navigation-container .arrow{
    width: 60px;
    height: 60px;
    background-color: var(--color-orange);
    border-radius: 100px;
}
.arrow .fa-solid{
    font-size: 2rem;
    color:var(--color-white);
}

/********************************* 
Tab and Mobile Both media Queries
**********************************/
@media screen and (max-width:1024px){
    /* global styles */
    .flex-col-tm{
        flex-direction: column;
    }
    .flex-col-reversed-tm{
        flex-direction: column-reverse;
    }
    .text-center-tm{
        text-align: center;
    }

    nav{
        border-bottom:1px solid var(--color-orange);
    }
    .menu-container{
        display: none;
    }
    .nav-btn-container{
        display: none;
    }
    .hamburger-container{
        display: block;
    }
    .hamburger{
        gap: 5px;
    }
    .hamburger span{
        display: inline-block;
        width: 25px;
        height: 3px;
        border-radius: 10000px;
        background-color: var(--color-dark-black);
    }

    /* Curriculum */
    .std-curiclum-title{
        margin-bottom: 2.5rem;
    }
    .curriculum-box-container{
        margin-bottom: 3rem;
    }
    .curriculum-box-container .box .box-title{
        margin: 2rem 0;
    }
    .curriculum-box-container .box .box-text{
        margin-bottom: 2rem;
    }
    .navigation-container{
        display: none;
    }
}

/* Tablet Media Queries */
@media screen and (min-width:768px) and (max-width:1024px){
    nav{
        padding: 20px 30px;
    }
    /* Hero Section */
    #hero-section,#std-curriculum-section{
        padding: 30px;
    }
}

/* Mobile Device Media Queries */
@media screen and (max-width:767px){
    nav{
        padding: 20px;
    }

    /* Hero Section */
    #hero-section, #std-curriculum-section{
        padding: 40px 20px;
    }
}